

<div id="tvshowContainer">
	<div id="tvshowList" class="mediaList">
		<div data-ng-repeat="tvshow in tvshows | orderBy:stripThe">
			<div id="tvshowEntry" class="mediaEntry" data-ng-click="selectTvShow(tvshow,$event)">
				<div class="thumb">
					<img src="data/images/{{ tvshow.id }}-thumb.jpg">
				</div>
				<div class="mediaTitle">
					<p>{{ tvshow.title }}</p>
				</div>
			</div>
			<div class="episodeList" data-xbmc-season="{{ tvshow.index }}"></div>
		</div>
	</div>
	<div id="background" data-xbmc-back-img="data/images/{{ getSelectedTvShowId() }}-bg.jpg" data-watch="selected.id"></div>

<div id="current" class="mediaDetails" data-ng-show="selected.id != ''">
  <div class="mediaDetailsTitle" >{{ selected.title }}</div>
  <div class="mediaDetailsPlot" >{{ selected.plot }}</div>
  <div id="mediaDetailsBackground" data-xbmc-back-img="data/images/{{ getSelectedTvShowId() }}-poster.jpg" data-watch="selected.id"></div>
  <div id="mediaDetailsMat" ></div>
</div>
</div>
